In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("date_values.csv")
df.head()

               Date  Score
0    5/2/2025 10:00     19
1   3/16/2025 17:00     64
2    7/9/2025 14:00     63
3  10/24/2025 22:00     48
4    4/13/2025 3:00     47

In [3]:
df.dtypes

Date     object
Score     int64
dtype: object

In [4]:
# conver date to date data type
df["Date"] = pd.to_datetime(df["Date"])

In [5]:
df.dtypes

Date     datetime64[ns]
Score             int64
dtype: object

In [6]:
# creating a date range
date_range = pd.date_range(start="01/01/2025", end= "30/01/2025")
date_range

DatetimeIndex(['2025-01-01', '2025-01-02', '2025-01-03', '2025-01-04',
               '2025-01-05', '2025-01-06', '2025-01-07', '2025-01-08',
               '2025-01-09', '2025-01-10', '2025-01-11', '2025-01-12',
               '2025-01-13', '2025-01-14', '2025-01-15', '2025-01-16',
               '2025-01-17', '2025-01-18', '2025-01-19', '2025-01-20',
               '2025-01-21', '2025-01-22', '2025-01-23', '2025-01-24',
               '2025-01-25', '2025-01-26', '2025-01-27', '2025-01-28',
               '2025-01-29', '2025-01-30'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# we can also provide frequency. So instead of a daily data I want to keep a gap of lets say 2 days
date_range = pd.date_range(start="01/01/2025", end= "30/01/2025", freq="2D")
date_range

DatetimeIndex(['2025-01-01', '2025-01-03', '2025-01-05', '2025-01-07',
               '2025-01-09', '2025-01-11', '2025-01-13', '2025-01-15',
               '2025-01-17', '2025-01-19', '2025-01-21', '2025-01-23',
               '2025-01-25', '2025-01-27', '2025-01-29'],
              dtype='datetime64[ns]', freq='2D')

In [8]:
# add 5 days to each date
df["date_plus_5days"] = df["Date"] + pd.Timedelta(days=5)
df

                 Date  Score     date_plus_5days
0 2025-05-02 10:00:00     19 2025-05-07 10:00:00
1 2025-03-16 17:00:00     64 2025-03-21 17:00:00
2 2025-07-09 14:00:00     63 2025-07-14 14:00:00
3 2025-10-24 22:00:00     48 2025-10-29 22:00:00
4 2025-04-13 03:00:00     47 2025-04-18 03:00:00

In [9]:
# subtract 2 days from each date
df["date_minus_2days"] = df["Date"] - pd.Timedelta(days=2)
df

                 Date  Score     date_plus_5days    date_minus_2days
0 2025-05-02 10:00:00     19 2025-05-07 10:00:00 2025-04-30 10:00:00
1 2025-03-16 17:00:00     64 2025-03-21 17:00:00 2025-03-14 17:00:00
2 2025-07-09 14:00:00     63 2025-07-14 14:00:00 2025-07-07 14:00:00
3 2025-10-24 22:00:00     48 2025-10-29 22:00:00 2025-10-22 22:00:00
4 2025-04-13 03:00:00     47 2025-04-18 03:00:00 2025-04-11 03:00:00

In [10]:
# extracting year month day day of week week of year from date column
df["year"] = df["Date"].dt.year
df["month"] = df["Date"].dt.month
df["day"] = df["Date"].dt.day
df["day_of_week"] = df["Date"].dt.day_name()
df["week_of_year"] = df["Date"].dt.isocalendar().week
df

,Date,Score,date_plus_5days,date_minus_2days,year,month,day,day_of_week,week_of_year
0,2025-05-02 10:00:00,19,2025-05-07 10:00:00,2025-04-30 10:00:00,2025,5,2,Friday,18
1,2025-03-16 17:00:00,64,2025-03-21 17:00:00,2025-03-14 17:00:00,2025,3,16,Sunday,11
2,2025-07-09 14:00:00,63,2025-07-14 14:00:00,2025-07-07 14:00:00,2025,7,9,Wednesday,28
3,2025-10-24 22:00:00,48,2025-10-29 22:00:00,2025-10-22 22:00:00,2025,10,24,Friday,43
4,2025-04-13 03:00:00,47,2025-04-18 03:00:00,2025-04-11 03:00:00,2025,4,13,Sunday,15

In [11]:
# extracting time components
df['hour'] = df['Date'].dt.hour
df['minute'] = df['Date'].dt.minute
df['second'] = df['Date'].dt.second
df

,Date,Score,date_plus_5days,date_minus_2days,year,month,day,day_of_week,week_of_year,hour,minute,second
0,2025-05-02 10:00:00,19,2025-05-07 10:00:00,2025-04-30 10:00:00,2025,5,2,Friday,18,10,0,0
1,2025-03-16 17:00:00,64,2025-03-21 17:00:00,2025-03-14 17:00:00,2025,3,16,Sunday,11,17,0,0
2,2025-07-09 14:00:00,63,2025-07-14 14:00:00,2025-07-07 14:00:00,2025,7,9,Wednesday,28,14,0,0
3,2025-10-24 22:00:00,48,2025-10-29 22:00:00,2025-10-22 22:00:00,2025,10,24,Friday,43,22,0,0
4,2025-04-13 03:00:00,47,2025-04-18 03:00:00,2025-04-11 03:00:00,2025,4,13,Sunday,15,3,0,0

In [12]:
# filtering by date
df[df["Date"].dt.month==7]

,Date,Score,date_plus_5days,date_minus_2days,year,month,day,day_of_week,week_of_year,hour,minute,second
2,2025-07-09 14:00:00,63,2025-07-14 14:00:00,2025-07-07 14:00:00,2025,7,9,Wednesday,28,14,0,0

In [13]:
# adding a timezone - UTC
df["time_utz"] = df["Date"].dt.tz_localize("UTC")
df

,Date,Score,date_plus_5days,date_minus_2days,year,month,day,day_of_week,week_of_year,hour,minute,second,time_utz
0,2025-05-02 10:00:00,19,2025-05-07 10:00:00,2025-04-30 10:00:00,2025,5,2,Friday,18,10,0,0,2025-05-02 10:00:00+00:00
1,2025-03-16 17:00:00,64,2025-03-21 17:00:00,2025-03-14 17:00:00,2025,3,16,Sunday,11,17,0,0,2025-03-16 17:00:00+00:00
2,2025-07-09 14:00:00,63,2025-07-14 14:00:00,2025-07-07 14:00:00,2025,7,9,Wednesday,28,14,0,0,2025-07-09 14:00:00+00:00
3,2025-10-24 22:00:00,48,2025-10-29 22:00:00,2025-10-22 22:00:00,2025,10,24,Friday,43,22,0,0,2025-10-24 22:00:00+00:00
4,2025-04-13 03:00:00,47,2025-04-18 03:00:00,2025-04-11 03:00:00,2025,4,13,Sunday,15,3,0,0,2025-04-13 03:00:00+00:00